
    <div class="row">
      
        <ul class="nav nav-tabs">
          <li role="presentation" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
          >
            <a routerLink="/">Home</a></li>

            
          <!-- <li role="presentation" routerLinkActive="active">
            <a routerLink="/servers">Servers</a></li>
          <li role="presentation" routerLinkActive="active">
            <a [routerLink]="['/users']">Users</a></li> -->
        </ul>
      
    </div>
    <br>
    <br>
    <div class="container"  id="cont">
        <div class="row">
        <div class="col-xs-8 ">
            <h1>Welcome To The Scholar HUB</h1>
         <p>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Ratione asperiores sapiente, 
              reprehenderit expedita qui quae fugit hic ab. Aperiam 
              laboriosam neque alias id fuga dolore nulla suscipit dolor
               perferendis unde quasi aut, modi quia beatae pariatur libero ipsum 
               reprehenderit illum ad quaerat veritatis? Repudiandae, obcaecati.</p>


               <button class="btn btn-primary"  (click)="onLogin()" id="btn"> Login </button>
        </div>
      </div>
    </div>
 

